{% extends 'prepresentation/layout-full.twig' %}

{% block header %}
Содержимое блока header
{% endblock header %}

{% block footer %}
Содержимое блока footer
{% endblock footer %}

{% block script %}
  <script src="js/jquery.js"></script>
  <script src="js/jquery.easing.min.js"></script>
  <script src="js/jquery.easing.compatibility.js"></script>
  <script src="js/min/landingScroll.js"></script>
  <script src="js/main.js"></script>
{% endblock script %}

{% block afterHeader %}
  <div class="raspForNav">
    <nav id="nav">
      <ul>
        <li><a href="#" data-link="block-1">Первый блок</a></li>
        <li><a href="#" data-link="block-2">Второй блок</a></li>
        <li><a href="#" data-link="block-3">Третий блок</a></li>
        <li><a href="#" data-link="block-4">Четвертый блок</a></li>
        <li><a href="#" data-link="block-5">Пятый блок</a></li>
      </ul>
    </nav>
  </div>
  <article id="block-1" class="block block-1">
    {% import "txt.twig" as myMacros %}
    <h1>Заголовок первого блока</h1>
    {{ myMacros.printProducts('Текст первого блока.') }}
    {{ myMacros.printProducts('Текст первого блока.') }}
    {{ myMacros.printProducts('Текст первого блока.') }}
    {{ myMacros.printProducts('Текст первого блока.') }}
    {{ myMacros.printProducts('Текст первого блока.') }}
    {{ myMacros.printProducts('Текст первого блока.') }}
    {{ myMacros.printProducts('Текст первого блока.') }}
    {{ myMacros.printProducts('Текст первого блока.') }}
    {{ myMacros.printProducts('Текст первого блока.') }}
  </article>
  <article id="block-2" class="block block-2">
    <h2>Заголовок второго блока</h2>
  </article>
  <article id="block-3" class="block block-3">
    <h2>Заголовок третьего блока</h2>
  </article>
  <article id="block-4" class="block block-4">
    <h2>Заголовок четвертого блока</h2>
  </article>
  <article id="block-5" class="block block-5">
    <h2>Заголовок пятого блока</h2>
  </article>
{% endblock afterHeader %}